<div class="split left not-selectable">
  <%= link_to new_readies_url do %>
    <div class="centered zoom">
      <h2>Create a Readie</h2>
      <p>Generate a new readie for a new email</p>
    </div>
  <% end %>
</div>

<div class="split right not-selectable">
  <%= link_to readies_url do %>
    <div class="centered zoom">
      <h2>Check a Readie</h2>
      <p>Check whether an existing Readie got read yet</p>
    </div>
  <% end %>
</div>
